<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true"
      throwExceptions="false" internalLogLevel="Off">
  <targets>
    <target name="infoFile" xsi:type="File" fileName="Logs/Infos_${date:format=yyyy-MM-dd}.txt"
            layout="[${time}][${uppercase:${level}}]  ->  ${message}"
            archiveFileName="${basedir}/Logs/Archives/Infos_${date:format=yyyy-MM-dd}.zip"
            archiveEvery="Day" maxArchiveFiles="7" enableArchiveFileCompression="true" />
    <target name="warningFile" xsi:type="File" fileName="Logs/Warnings_${date:format=yyyy-MM-dd}.txt"
            layout="[${time}][${uppercase:${level}}]  ->  ${message}"
            archiveFileName="${basedir}/Logs/Archives/Warning_${date:format=yyyy-MM-dd}.zip"
            archiveEvery="Day" maxArchiveFiles="7" enableArchiveFileCompression="true" />
    <target name="errorFile" xsi:type="File" fileName="Logs/Errors_${date:format=yyyy-MM-dd}.txt"
            layout="[${time}][${uppercase:${level}}]  ->  ${message}"
            archiveFileName="${basedir}/Logs/Archives/Errors_${date:format=yyyy-MM-dd}.zip"
            archiveEvery="Day" maxArchiveFiles="7" enableArchiveFileCompression="true" />
    <target name="debugFile" xsi:type="File" fileName="Logs/Debug_${date:format=yyyy-MM-dd}.txt"
            layout="[${time}][${uppercase:${level}}]  ->  ${message}"
            archiveFileName="${basedir}/Logs/Archives/Debug_${date:format=yyyy-MM-dd}.zip"
            archiveEvery="Day" maxArchiveFiles="7" enableArchiveFileCompression="true" />
  </targets>
  <rules>
    <logger name="*" level="Info" writeTo="infoFile" enabled="true" />
    <logger name="*" level="Warn" writeTo="warningFile" enabled="true" />
    <logger name="*" level="Error" writeTo="errorFile" enabled="true" />
    <logger name="*" level="Debug" writeTo="debugFile" enabled="true" />
  </rules>
</nlog>